/* FORM ELEMENT AND TAG STYLING */
table {
  border-spacing: 10px;
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

html, input, button, article, textarea, ::placeholder {
  font-family: 'Roboto' !important;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

header li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

header li:hover {
  background-color: #111111;
  cursor: pointer;
}

th, td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

th, tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

button {
  margin-top: 20px;
}

thead tr th {
  position: sticky;
  top: 0;
}

/* CLASS STYLING */

.tableBodyScroll {
  max-height: 500px;
  overflow-y: auto;
}

.socialWrapper {
  display: inline-block;
  font-size: 1rem;
  float: right;
}

.social {
  margin-right: 0.25rem;
  color: #ffffff;
}

.socialWrapper:last-child .social {
  margin-right: 0;
}

.headerCell {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding-right: 5px;
}

.bodyCell {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  padding-right: 5px;
}

.tableCaption {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.headerCell, .bodyCell {
  color: #333333;
}

.small-container {
  margin: auto;
  width: 95%;
  padding: 5px;
}

.small-container-form {
  margin: auto;
  width: 50%;
  padding: .3rem;
}

.input {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.inputSmall {
  width: 35%;
}

.inputLarge {
  width: 85%;
}
